

html,
body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 600;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 14px;
    color: #585858;
    line-height: 1.6;
}




img {
    max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

.header-top {
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.site-logo {
    display: inline-block;
    padding-left: 5px;
}



.user-panel .up-item {

    font-size: 14px;
    padding-top: 10px;
  padding-right: 0px;
}

.user-panel .up-item i {
    font-size: 22px;
}

.user-panel .up-item a {
    font-size: 14px;
    color: #000;
    margin-right: 30px;
}

.user-panel .up-item:first-child {
    margin-right: 2px;
}

.shopping-card {
    display: inline-block;
    position: relative;
}

.shopping-card span {
    position: absolute;
    top: -4px;
    left: 100%;
    height: 16px;
    min-width: 16px;
    color: #fff;
    font-size: 13px;
    background: darkred;
    text-align: center;
    border-radius: 30px;
    padding: 0 2px;
    margin-left: -7px;
}

.main-navbar {
    background: #282828;
}

.slicknav_menu {
    display: none;
}

.main-menu {
    list-style: none;
}

.main-menu li {
    display: inline-block;
    position: relative;
}

.main-menu li a {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    margin-right: 50px;
    line-height: 1;
    padding: 17px 0;
    position: relative;
}

.main-menu li a .new {
    position: absolute;
    top: -8px;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    background: darkred;
    line-height: 1;
    text-transform: uppercase;
    left: calc(50% - 21px);
    padding: 5px 9px 1px;
    border-radius: 15px;
    width: 42px;
}

.main-menu li:hover .sub-menu {
    visibility: visible;
    opacity: 1;
    margin-top: 0;
}

.main-menu li:hover>a {
    color: black;
}

.main-menu .sub-menu {
    position: absolute;
    list-style: none;
    width: 220px;
    left: 0;
    top: 100%;
    padding: 20px 0;
    visibility: hidden;
    opacity: 0;
    margin-top: 50px;
    background: #fff;
    z-index: 99;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
    display: block;
}

.main-menu .sub-menu li a {
    display: block;
    color: #000;
    margin-right: 0;
    padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
    color: darkred;
}

.nav-switch {
    display: none;
}




/* product iteamme */

.product-item {
    margin-bottom: 26px;
}

.product-item:hover .pi-pic .icon {
    top: 15px;
    opacity: 1;
}

.product-item:hover .pi-pic ul {
    bottom: 0;

}

.product-item .pi-pic {
    overflow: hidden;
    position: relative;
}

.product-item .pi-pic img {
    min-width: 100%;
}

.product-item .pi-pic .sale {
    color: #ffffff;
    font-size: 10px;
    background: darkred;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 5px 10px;
    text-transform: uppercase;
}

.product-item .pi-pic .sale.pp-sale {
    background: darkred;
}

.product-item .pi-pic .icon {
    font-size: 20px;
    color: #252525;
    position: absolute;
    right: 21px;
    top: -15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
}

.product-item .pi-pic ul {
    position: absolute;
    left: 0;
    bottom: -52px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    text-align: center;
    width: 100%;
}

.product-item .pi-pic ul li {
    list-style: none;
    display: inline-block;
    background: #ffffff;
}

.product-item .pi-pic ul li.w-icon.active a {
    background: darkred;
    color: #ffffff;
}

.product-item .pi-pic ul li a {
    font-size: 16px;
    font-weight: 700;
    color: #252525;
    display: block;
    padding: 16px 18px 12px 19px;
}

.product-item .pi-text {
    text-align: center;
    padding-top: 26px;
}

.product-item .pi-text .catagory-name {
    font-size: 10px;
    color: #b2b2b2;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.product-item .pi-text a {
    display: block;
}

.product-item .pi-text a h5 {
    color: #252525;
    font-family: "Segoe Script";
}
.product-item .pi-text a h5:hover{
    color: darkred;
}

.product-item .pi-text .product-price {
    color: darkred;
    font-size: 22px;
    font-weight: 700;
}

.product-item .pi-text .product-price span {
    font-size: 16px;
    font-weight: 400;
    color: #b2b2b2;
    text-decoration: line-through;
}



/*---------------------
  Product Shop
-----------------------*/

.product-shop {
    padding-top: 80px;
    padding-bottom: 80px;
}

.filter-widget {
    margin-bottom: 45px;
}

.filter-widget .fw-title {
    color: darkred;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 26px;
}

.filter-widget .filter-catagories li {
    list-style: none;
}

.filter-widget .filter-catagories li a {
    display: inline-block;
    color: black;
    font-size: 16px;
    line-height: 39px;
}



.filter-widget .fw-brand-check .bc-item label .checkmark:after {
    left: 0;
    top: 0;
    width: 10px;
    height: 8px;
    border: solid white;
    border-width: 3px 3px 0px 0px;
    -webkit-transform: rotate(127deg);
    -ms-transform: rotate(127deg);
    transform: rotate(127deg);
}


.filter-widget .filter-btn {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    background: #fe4c50;
    padding: 7px 20px 5px;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
}

.filter-widget .fw-color-choose .cs-item {
    width: 50%;
    float: left;
    margin-bottom: 4px;
}

.filter-widget .fw-color-choose .cs-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-color-choose .cs-item label {
    cursor: pointer;
    position: relative;
    padding-left: 33px;
    font-size: 16px;
    color: #636363;
}

.filter-widget .fw-color-choose .cs-item label.cs-violet:before {
    background: #8230E3;
}

.filter-widget .fw-color-choose .cs-item label.cs-blue:before {
    background: #2773BE;
}

.filter-widget .fw-color-choose .cs-item label.cs-yellow:before {
    background: #EEEE21;
}

.filter-widget .fw-color-choose .cs-item label.cs-red:before {
    background: #DC3232;
}

.filter-widget .fw-color-choose .cs-item label.cs-green:before {
    background: #81D742;
}

.filter-widget .fw-color-choose .cs-item label:before {
    position: absolute;
    left: 0;
    top: 4px;
    height: 18px;
    width: 18px;
    background: #252525;
    border-radius: 50%;
    content: "";
}

.filter-widget .fw-size-choose .sc-item {
    display: inline-block;
    margin-right: 5px;
}

.filter-widget .fw-size-choose .sc-item:last-child {
    margin-right: 0;
}

.filter-widget .fw-size-choose .sc-item input {
    position: absolute;
    visibility: hidden;
}

.filter-widget .fw-size-choose .sc-item label {
    font-size: 16px;
    color: #252525;
    font-weight: 700;
    height: 40px;
    width: 47px;
    border: 1px solid #ebebeb;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}

.filter-widget .fw-size-choose .sc-item label.active {
    background: #252525;
    color: #ffffff;
}

.filter-widget .fw-tags a {
    display: inline-block;
    font-size: 16px;
    color: #fe4c50;
    padding: 5px 15px;
    border: 1px solid #ebebeb;
    margin-right: 5px;
    margin-bottom: 9px;
    border-radius: 2px;
}

.checkmark:after {
    position: absolute;
    content: "";
}



.prduct-list .product-item {
    margin-bottom: 25px;
}


.product-item i:hover{
    color: darkred;
}


/* footer */

.footer {
    width: 110%;
    position:absolute;
    padding: 30px 0 0 0;
    background: darkred;

    color: white;
}


.footer .footer-widget {
    position: relative;
    width: 110%;
    margin-bottom: 30px;
    color: white;
}

.footer .footer-widget h2 {
    font-size: 25px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.footer .footer-widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-widget ul li {
    margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
    margin-bottom: 0;
}

.footer .footer-widget ul li a {
    color: #353535;
    white-space: nowrap;
    display: block;
    line-height: 23px;
    transition: all .3s;
}

.footer .footer-widget ul li a::before {
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
    color: peachpuff;
}

.footer .footer-widget ul li a:hover::before {
    content: '\f101';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}

.footer .contact-info p {
    margin-bottom: 10px;
    font-size: 16px;
}

.footer .contact-info p i {
    margin-right: 5px;
    color: white;
}
.footer .contact-info p {
    color: white;
}
.footer-widget h2{
    color: white;
}
.col-md-6 h2{
    color: white;
}

.footer .social {
    position: relative;
    width: 100%;
}

.footer .social a {
    display: inline-block;
    margin: 10px 5px 0 0;
    width: 40px;
    height: 40px;
    padding: 6px 0;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 3px solid white;
    border-radius: 4px;
    transition: all .5s;
}

.footer .social a:hover {
    color: antiquewhite;
    border-color:  antiquewhite;
    padding-top: 10px;
}

.footer .payment {
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (min-width: 992px) {
    .footer .payment {
        max-width: 100%;
        margin: 0 auto;
    }
}

.footer .payment-method,
.footer .payment-security {
    overflow: hidden;
}

.footer .payment-method {
    text-align: left;
}

.footer .payment-security {
    text-align: right;
}

@media (max-width: 768.98px) {
    .footer .payment-method {
        margin-bottom: 15px;
    }

    .footer .payment-method,
    .footer .payment-security {
        text-align: center;
    }
}

.footer .payment-method h2,
.footer .payment-security h2 {
    display: inline-block;
    margin: 0 0px 0 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}











